h1:hover {
  background-color: aquamarine;
  font-size: 50px;
  font-family: fantasy;
}

p:hover {
  margin: 50px;
}

p {
  background-color: burlywood;
}

a:visited {
  color: red;
}

a:link {
  color: blue;
}
